page-about {
	.toolbar-background {
	    border-color: white !important;
	    background-color: white !important;
	    color: black !important;
	}

	.grad1{
                background-image: linear-gradient(to bottom, #2A41E8, #51B8C6);
	  }

	  .grad2{
                   background-image: linear-gradient(to bottom, #2A41E8, #51B8C6);
			    border-radius: 10px;
			    padding: 4px;
			        margin: 8px 0px;
	  }

	  .grad3{
        background-image: linear-gradient(-90deg, rgb(33, 150, 243), #96dc39);  
	  }

	  .grad4{
        	 background-image: linear-gradient(-90deg, #bd3b41, #b226eb);
	  }

	   .grad5{
	   	  	background-image: linear-gradient(-90deg, #FF9800, #ffd28f);
	   }

	   .slide-set{
	  	    	color: #483f3f !important;
			    font-weight: 800;
			    font-size: 20px !important;
	  	        border-radius: 16px;
	  	   /*  box-shadow: 0px 0px 18px #adabab !important;*/
	  	     padding: 6px !important;
	  	     background: white !important;
	  	         border: 1px solid #dedede;
	  	         position : relative !important;
	   }

	   .icon-bg-circle{
	  	    font-size: 22px;
		    background-image: linear-gradient(-90deg, #303CE9, #7415F7);
		    color: white !important;
		    border-radius: 50%;
		    height: 32px;
		    width: 32px;
		    align-items: center;
		    display: flex;
		    justify-content: center;
	   }

	   input.searchbar-input {
		    width: 100% !important;
		    border-radius: 20px !important;
		    padding: 6px 0px !important;
		    text-align: center !important;
		    background: #f4f4f4 !important;
		    color: black !important;
		    font-size: 13px !important;
		     box-shadow: none !important;
		}

		.searchbar-search-icon {
		    display: none;
		}

		input.searchbar-input::placeholder {
		    color: black !important;
		}

		.select-item{
			font-size: 8px;
		    
		    background-image: linear-gradient(-90deg, #303CE9, #7415F7);
		    color: white;
		    padding: 8px;
		    border-radius: 20px;
		        width: 100% !important;
		}

		.left-jobs-tag{
			    color: #f3f3f3;
			    padding: 4px;
			    font-size: 7px;
			    border-radius: 0px 20px 20px 0px;
			    width: 100% !important;
			    text-transform: uppercase;
		}

		 .img-profile{
		        height: 50px;
			    width: 50px;
			    border-radius: 6px;
			    /*border: 1px solid black;*/
			    padding: 2px;
		  }

		  .card-scroll-vertical{
		  		border: 1px solid #f7f7f7 ;	
			    margin: 6px;
			    border-radius: 10px;
			    padding: 6px;
			    box-shadow: 0px 0px 22px #bdbcbc;
		  }

		  .bg-grey-card{
		  		border-radius: 10px;
			    padding: 4px;
			    background-color: #f5f5f5 !important;
			    margin: 14px 0px !important;
		  }

		  .text-grey-card{
		  	color: #ababab !important;
		  }

		  .bg-card-grey-color{
		  	background: #c2c3c5 !important;
		  }

		  .card-btn-class{
		    margin: auto;
		    color: #4f7bb4;
		    height: 2.4em;
		    border-radius: 20px;
		    width: 80% !important;
		        font-size: 7px !important;
		}

		.mar-bot-none{			
    		margin-bottom: 0px !important;
		}

		.mar-set{
		        margin-bottom: 6px !important;
   				margin-top: 0px !important;
		}

		.posi-days{
			    position: absolute;
			    right: 12px !important;
			    top: 6px;
			    font-size: 8px;
			    text-transform: uppercase;
		}

		.bg-gradient {
	                  margin: 6px 6px !important;
				    background: white;
				    border-radius: 6px;
	    }

	    .scrolling-div {
			letter-spacing: 1.6px;
		    height: 100% !important;
		    width: 100% !important;
		    position: relative;
		}

		.scrol {
	           height: 214px !important;
		    background: #dbdbdb;
		    box-shadow: 0px 0px 12px #dbdbdb;
	    }

	    .font-w-gr{
	    	color: #797979 !important;
    		font-weight: 800 !important;
	    }

	    .ped-left-zero{
	    	padding-left: 0px !important
	    }
	    .ped-ryt-zero{
	    	padding-right: 0px !important
	    }

	    .card-btn-class{
        margin: auto;
    background: white;
    color: blue;
    font-size: 9px;
    border-radius: 20px;
    height: 1.8em;
}

.bg-green{
     background: #01ba00 !important;
}

.bor-bot-gr{
    border-bottom: 1px solid #e4e4e4 !important;
}

.font-extrabold{
    font-family: "Montserrat-ExtraBold" !important;
}

	.funnl-icon{
		width: 19px;
	    background: white;
	    padding: 4px;
	    border-radius: 20px;
	}

	.s-icon-bg-circle{
        border-radius: 50%;
            height: 16px;
            width: 16px;
            font-size: 12px;
        align-items: center;
        display: flex;
        justify-content: center;

}

.bestjob{
	margin: 10px;
    padding: 14px;
        background-image: linear-gradient(to left, #00C7B8, #19B94A);
    color: white;
    border-radius: 4px;
}
}
