page-home {
    .toolbar-background {
        border-color: #b2b2b2;
        background: white !important;
    }
    .toolbar-title {
        font-weight: 500;
        color: #000000 !important;
    }
    ion-header.header::after {
        background-image: none !important;
    }
    .icon-bg-circle {
        font-size: 22px;
        background-image: linear-gradient(-90deg, #303CE9, #7415F7);
        color: white !important;
        border-radius: 50%;
        height: 32px;
        width: 32px;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    ion-segment.segment {
        padding: 0px 24px !important;
    }
    .segment-button.activated,
    .segment-button.segment-activated {
        border-color: transparent !important;
        opacity: 1;
        background-image: linear-gradient(-90deg, #303CE9, #7415F7);
        color: white !important;
        font-size: 10px;
        border-radius: 40px !important;
        height: 28px;
        align-items: center;
        display: flex;
        justify-content: center;
        text-transform: initial;
    }
    ion-segment-button.segment-button {
        color: #2227b3 !important;
        font-size: 1.1rem !important;
        border: none !important;
        height: 28px !important;
        text-transform: initial !important;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .icon-user {
        width: 19px;
    }
    .p-text {
        margin: 4px 15px;
        border: 1px solid #e4e3e3;
        font-size: 10px;
        padding: 2px 0px;
    }
    .hr-divider {
        height: 8px !important;
        background: #f3f3f3 !important;
    }
    .scroll-height {
        height: 94px !important;
    }
    .scrl-ht {
        height: 200px !important;
        background: #f3f2f2;
    }
    .bordImg {
        /*height: 76px;
			    width: 76px;*/
        border-radius: 50%;
        border: 3px solid #4CAF50;
        padding: 3px;
    }
    .font-icon {
        font-size: 2rem;
    }
    .hi-set {
        height: 62px !important;
        width: 62px !important;
    }
    .add-profile {
        border-radius: 50%;
        border: 3px solid #482fed;
        align-items: center;
        display: flex;
        justify-content: center;
        color: #482fed;
        /* margin: 42px auto;*/
    }
    .more {
        border: 1px solid #929292;
        padding: 2px !important;
        border-radius: 24px;
        margin: 0px 8px;
    }
    .pro-desc {
        font-size: 10px;
        font-weight: 500;
        margin: auto;
        padding: 0px 20px 12px;
    }
    .heart {
        color: #D0527F !important;
    }
    .bg-gread {
        background-image: linear-gradient(0deg, #303CE9, #7415F7);
        margin: 10px 0px 0px;
        color: white;
        padding: 12px;
        line-height: 18px;
    }
    .button-connect {
        border-radius: 12px;
        padding: 4px 8px;
        font-size: 8px;
        background: white !important;
    }
    .box-div {
        border-radius: 4px !important;
        background: white !important;
        margin: 8px 4px !important;
        padding: 14px 0px 0px 0px !important;
        width: 38% !important;
        max-width: 38% !important;
        flex: 0 0 38%;
    }
    .bg-bl {
        background: #1023AD !important;
    }
    ion-fab {
        bottom: 60px !important;
    }
    .checkbox-md .checkbox-checked .checkbox-inner {
        left: 0px;
        top: 0;
        position: absolute;
        width: 0px;
        height: 0px;
        border: 2px solid white !important;
        padding: 4px;
        border-radius: 20px;
        border-width: 0px;
        border-top-width: 0;
        background: #372df4;
        border-left-width: 0;
        border-style: solid;
        border-color: #fff;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    .checkbox-md-dark .checkbox-checked {
        border-color: #382df5;
        background-color: #382df5;
    }
    .checkbox-icon {
        border-radius: 20px !important;
    }
    .check-box-border {
        padding: 0px 12px !important;
        border: 1px solid #ececec;
        border-radius: 30px;
        margin: 10px 0px;
        font-size: 13px !important;
    }
    .mar-chk {
        margin: 9px 10px 9px 4px !important;
    }
    .textArea {
        height: 100px;
        border: 1px solid #dedcdc;
        border-radius: 18px;
    }
    .submitBtn {
        background-image: linear-gradient(-90deg, #2A41E8, #7415F7);
        width: 70%;
        border-radius: 60px;
        padding: 30px;
        font-size: 16px;
        text-transform: initial;
    }
    .header-set {
        background-image: linear-gradient(-90deg, #2A41E8, #7415F7);
        border-radius: 20px 20px 0px 0px;
        padding: 10px;
    }
    .box-checkbox {
        background: white !important;
        border-radius: 20px;
    }
    .box-padbox {
        padding: 10px !important;
    }
    .box-shd-none {
        box-shadow: none !important;
    }
    .btn-grey {
        justify-content: center;
        background: #E8E8E8;
        color: #848484;
        border-radius: 22px;
        box-shadow: none !important;
        font-size: 8px;
        padding: 10px 8px;
        width: 100% !important;
        height: 2.8rem !important;
        align-items: center;
        display: flex;
        margin: auto;
        text-transform: initial !important;
    }
}