// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: "Montserrat-Light";
    src: url("../assets/fonts/Montserrat-Light.eot");
    src: url("../assets/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"),
      url("../assets/fonts/Montserrat-Light.otf") format("opentype"),
      url("../assets/fonts/Montserrat-Light.svg") format("svg"), 
      url("../assets/fonts/Montserrat-Light.ttf") format("truetype"),
      url("../assets/fonts/Montserrat-Light.woff") format("woff"),
      url("../assets/fonts/Montserrat-Light.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Montserrat-Light" !important;
}

input,
button,
select,
textarea,
p,
span, div{
    font-family: "Montserrat-Light" !important;
}

.btn_whiteBox {
        border: 1px solid #3b3b3b;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        color: #000;
        cursor: pointer;
        font-size: 18px;
        width: 54%;
        background: #ffffff;
        font-weight: 800;
    }

    .btn_blackBox {
        border: 1px solid #3b3b3b;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        color: white;
        cursor: pointer;
        font-size: 18px;
        width: 54%;
        background: black;
        font-weight: 800;
    }
    
.text-box{
    color: white;
    text-align: center;
    border: 2px solid;
    padding: 5px 17px;
    width: 75%;
    margin: auto;
    line-height: 32px;

}
.image-textBox{
        width: 75%;
    }

.scroll {
    height: 100%;
}

.wid-100 {
    width: 100% !important;
}

.hi-100 {
    height: 100% !important;
}

.fs-8 {
    font-size: 8px !important;
}

.fs-9 {
    font-size: 9px !important;
}

.fs-10 {
    font-size: 10px !important;
}

.fs-11 {
    font-size: 11px !important;
}


.fs-12 {
    font-size: 12px !important;
}

.fs-13 {
    font-size: 13px !important;
}

.fs-14 {
    font-size: 14px !important;
}

.fs-15 {
    font-size: 15px !important;
}

.fs-16 {
    font-size: 16px !important;
}

.fs-18 {
    font-size: 18px !important;
}

.fs-20 {
    font-size: 20px !important;
}

.fs-22 {
    font-size: 22px !important;
}

.fs-24 {
    font-size: 24px !important;
}

.fs-26 {
    font-size: 26px !important;
}

.fs-28 {
    font-size: 28px !important;
}

.fs-30 {
    font-size: 30px !important;
}

.fs-32 {
    font-size: 32px !important;
}

.fs-42 {
    font-size: 42px !important;
}

.fs-50 {
    font-size: 50px !important;
}

.fs-55 {
    font-size: 55px !important;
}

.white-space {
    white-space: normal !important;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-justify {
    text-align: justify;
}

.text-underline {
    text-decoration: underline !important;
}

.tex-posi {
    position: absolute;
    bottom: 0;
}

.no-border {
    border: 0px !important;
}

.mar-auto {
    margin: auto !important;
}

.no-padding {
    padding: 0px !important;
}
.bg-cover {
    background-image: url('../img/bg-cover.png');
    background-size: contain;
    height: 100%;
    width: 100%;
}
.bg-none {
    background: none !important;
}
.bg-black {
    background-color: black !important;
}
.bg-blue {
    background: #3b5998 !important;
}
.bg-red {
    background: #ed0707 !important;
}
.bg-white{
    background: white !important;
}
.text-white-lyt {
    color: #e9e7e6 !important;
}
.text-green {
    color: #1eff27 !important;
}
.text-grey {
    color: grey !important;
}
.text-purple{
    color: #7c58d0 !important;
}
.text-white {
    color: white !important;
}
.text-black {
    color: black !important;
}
.text-blue {
    color: #1023AD !important;
}
.text-blue1 {
    color: #502ED4 !important;
}
.text-blue2{
    color: #1023AD !important;
}
.text-yellow {
    color: #e8e840 !important;
}
.float-right{
    float: right !important;
}
.float-left{
		float: left !important;
}
.text-align{
    display: flex !important;
    align-items: center !important;
}
.text-capitalize{
        text-transform: capitalize !important;
}
.bord-bot{
        border-bottom: 1px solid #7c58d0 !important;
}

.text-red {
    color: red;
}

.grad-button{
    background-image: linear-gradient(-90deg, #bc3b48, #b326e1);
}

.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
}

 .fs-w8{
      font-weight: 800;
    }


.imageLogo{
        width: 96% !important;
    }

    .contenthi{
        padding-top: 36px !important;
    }

    .cursive-font{
        font-family: cursive !important;
            font-size: 15px !important;
            margin: 8px auto !important;
    }

    .tab-button[aria-selected=true] .tab-button-icon {
    color: #1023ad !important;
}